<div class="wrapper">
  <app-card>
    <div class="card__header" card-header>
      <i class="fa-solid fa-home card__icon"></i>
      <app-directive-title color="red">Title</app-directive-title>
    </div>
    <div class="card__header" card-header>
      <app-directive-phragrafy>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
        perferendis similique earum optio reprehenderit quidem illum rerum
        eligendi possimus, totam fugiat. Odit est, vel nesciunt ab ut ducimus et
        aliquid.
      </app-directive-phragrafy>
    </div>
  </app-card>
</div>
